<br/>
<button type="button" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="irSignIn()">Sign-in</button>
<button type="button" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="irSignUp()">Sign-up</button>
<button type="button" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="irPersonas()">personas</button>
<button type="button" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="SignOut()">Sign-out</button>
<button type="button" class="ms-1 btn btn-primary border border-dark rounded-3" (click)="userState()">usuario estado</button>